@media screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}
@media screen and (max-width:768px){
    


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .bolder-colored{
        color: #B3B6B7;
        font-size: 20px;
    }
    .bold-colored{
        color: #AF9164;
        font-size: 25px;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 85vh;
        top: 15vh;
        background-color: #2B2118;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
}

