*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../assets/oriental-tiles.png');
}

.logo{
    color: #fff;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    float: left;
    font-weight: bold;
    transition: 0.6s;
}

.logo:hover{
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s;
}

.bold-colored{
    color: blue;
    transition: 0.6s;
}
.bold-colored:hover{
    cursor: pointer;
    transition: 0.6s;
    color: white;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #ff57;
    width: 100%;
}

header nav {
    float: right;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    color: black;
    text-decoration: none !important;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active{
    color: #fff;
    background-color: #000;
}
.menu-toggle{
    color: #fff;
    float: right;
    line-height: 80px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
/* info icons */
.cart-info__icon {
    color: brown;
    cursor: pointer;
}

.cart-info {
    border: 0.1rem solid #000;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}
.cart-info:hover {
    background: #0e0404b2;
    border-color: #fff;
    color: #fff;
}
.cart-info:hover .cart-info__icon {
    color: yellow;
}
  /* end of info icons */
  

