*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-image: url('../assets/leather_1.png') center center;
    overflow-x: hidden;
}

.bolder-colored{
    color: #B3B6B7;
    font-size: 30px;
    font-family:  'beyond_the_mountainsregular', sans-serif;
}
.bold-colored{
    color: #AF9164;
    font-size: 35px;
    font-family:  'beyond_the_mountainsregular', sans-serif;
}
.fas.fa-pizza-slice{
    color: #AF9164;
    margin-right: 10px;
    font-size: 30px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #2B2118;
    width: 100%;
    font-family: 'Concert One', cursive;
}

.logo:hover{
    cursor: pointer;
    opacity: 0.5;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}

.nav-links a {
    color: #AF9164;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s ease-in;
}
.nav-links a:hover{
    color: #B3B6B7;
    transition: 0.2s ease-in;
}


.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color:#B3B6B7;
    margin: 5px;
}

/* info icons */
.cart-info__icon {
    color: #B3B6B7;
    cursor: pointer;
}

.cart-info {
    border: 0.1rem solid #AF9164;
    color: #AF9164;
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}
.cart-info:hover {
    background: #0e0404b2;
    border-color: #B3B6B7;
    color: #B3B6B7;
}
.cart-info:hover .cart-info__icon {
    color: #AF9164;
}
/* end of info icons */

.cover{
    background-image: url('../assets/bg1.jpg');
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    min-height: 91vh;
}

.span-colored{
    color: #f0f4f5;
    font-size: 40px;
    font-family:  'beyond_the_mountainsregular', sans-serif;
}
.spann-colored{
    color: #AF9164;
    font-size: 45px;
    font-family:  'beyond_the_mountainsregular', sans-serif;
}
.span-color{
    color: #f0f4f5;
    font-size: 20px;
    font-family:  'beyond_the_mountainsregular', sans-serif;
}
.spann-color{
    color: #AF9164;
    font-size: 25px;
    font-family:  'beyond_the_mountainsregular', sans-serif;
}

.card{
    width: 50%;
    display: flex;
    float: left;
    margin: 20px;
}

.first-card{
    width: 20rem;
    background: #2b2118ed;
    text-align: center;
    padding: 10px;
}

.carousel-caption p{
    font-family: 'Concert One', cursive;
}

.second-card{
    width: 40rem;
    border: none;
}
.card-text{
    color: #f0f4f5;
    font-size: 20px;
    font-family: 'Concert One', cursive;
}
.btn{
    color: #f0f4f5;
    font-size: 20px;
    font-family: 'Concert One', cursive;
    text-align: center;
    justify-content: center;
    background: #0e0404b2;
    border: 1px solid #AF9164;
    outline: none !important;
}

.btn:hover{
    background: #af9164ea;
    border: 1px solid #0e0404b2;
    color: #0e0404b2;
}

/* about */
.about-img__container {
    position: relative;
}
.span-about{
    color: #415c62;
    font-size: 40px;
    font-family:  'beyond_the_mountainsregular', sans-serif;
}

.spane-color{
    color: #AF9164;
}

.about-text{
    font-family: 'Concert One', cursive;
}
.about-img__container::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid #AF9164;;
    z-index: -1;
    transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
    top: 0;
    left: 0;
}
/*end of  about */


/*RIBBONS*/

.ribbon-cont{ 
    display: inline-block; 
    padding: 0px 30px 0px 20px; 
    position: absolute; top: 35%; 
    left: 4px; 
    z-index: 1; 
    line-height: 30px;  
    font-size: 1.07em; 
    color: #f4f7f8;
}
.ribbon-cont ,h5{
    color: #f4f7f8;
    font-family: 'Concert One', cursive;
}
.mt-5{
    color: #f4f7f8;
    font-family: 'Concert One', cursive;
}

.ribbon { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: -1; 
    border: 15px solid #AF9164; 
    border-left:  0; 
    border-right: 15px solid transparent;  
    width:   100%; 
}
.ribbon.primary{ 
    border-color: #AF9164; 
    border-right-color:  transparent; 
}
.ribbon.secondary{ 
    border-color: #415c62; 
    border-right-color:  transparent;  
}
.ribbon.white{ 
    border-color: #AF9164; 
    border-right-color:  transparent;  
}
.btn-brdr-primary { 
    text-align: 
    center; 
    height: 45px; 
    line-height: 43px; 
    border: 1px solid #415c62; 
    color: #B3B6B7;
    border-radius: 2px; 
    padding: 10px;
    text-decoration: none;
    font-family: 'Concert One', cursive;
}

.btn-brdr-primary:hover { 
    background: #AF9164; 
    color: #FFFFFF; 
    text-decoration: none;
}
.pos-relative { 
    position: relative; 
    z-index: 1; 
}

.menu-icon{
    text-align: center;
    padding: 20px;
}
.story-area {
    position: relative;
    background: #fff;
}

.heading h2{
    text-align: center;
    font-size: 50px;
}

.menu-bg{ 
    background: url(../cart-items/sellers-1-1600x1600.jpg)  no-repeat; 
    background-size: 100%; 
    position: relative; 
    z-index: 1; 
}

.menu-bg:after{ 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: -1; 
    background: #000000d9; 
}

.contact{
    background-image: url('../assets/contact.jpg');
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contact h1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

input[type=text] {
    color: #B3B6B7;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: inherit;
}

input[type=email] {
    color: #B3B6B7;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: inherit;
}
textarea[type=text]{
    color: #B3B6B7;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: inherit;
}

::placeholder {
    color: #fff !important;
    font-size: 20px;
}

input[type=submit]{
    margin: 30px;
    width:50%;
    text-align: center;
    background-color: #AF9164;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.5s ease;
}
input[type=submit]:hover{
    background: #2b2118ed;
    color: #B3B6B7;
    transition: 0.5s ease;
}


/* footer */
.footer-section{
    justify-content: center;
    text-align: center;
    display: block;
    font-family: 'Concert One', cursive;
    background-image: url('../assets/prism.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.footer-heading{
    padding: 10px;
}
.social-links{
    display: flex;
    justify-content: space-evenly;
    color: #AF9164;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
}
.social-link:hover{
    color: #B3B6B7;
    cursor: pointer;
    transition: 0.6s all;
}
.caret{
    font-size: 40px;
    color: #AF9164;
    padding: 20px;
    margin: 20px;
}
.caret:hover{
    color: #B3B6B7;
    cursor: pointer;
    transition: 0.6s all;
}
.right{
    padding: 5px;
    color: #AF9164;
}


