*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #2b2118c4;
    width: 100%;
}
.logo:hover{
    cursor: pointer;
    opacity: 0.8;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}

.nav-links a {
    color: #B3B6B7;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in;
}
.nav-links a:hover{
    color: #AF9164;
    transition: 0.3s ease-in;

}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color:#B3B6B7;
    margin: 5px;
}

/* info icons */
.cart-info__icon {
    color: #B3B6B7;
    cursor: pointer;
}

.cart-info {
    border: 0.1rem solid #AF9164;
    color: #B3B6B7;
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}
.cart-info:hover {
    background: #0e0404b2;
    border-color: #B3B6B7;
    color: #F7F3E3;
}
.cart-info:hover .cart-info__icon {
    color: #AF9164;
}
  /* end of info icons */